<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.demo.mapper.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.test.demo.model.Notice" >
    <id column="notice_id" property="noticeId" jdbcType="INTEGER" />
    <result column="notice_title" property="noticeTitle" jdbcType="VARCHAR" />
    <result column="notice_content" property="noticeContent" jdbcType="VARCHAR" />
    <result column="notice_createtime" property="noticeCreatetime" jdbcType="TIMESTAMP" />
    <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
  </resultMap>
</mapper>