<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.demo.mapper.ScoreMapper" >
  <resultMap id="BaseResultMap" type="com.test.demo.model.Score" >
    <id column="score_id" property="scoreId" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="is_test" property="isTest" jdbcType="INTEGER" />
    <result column="exam_id" property="examId" jdbcType="INTEGER" />
  </resultMap>
</mapper>