<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.demo.mapper.SelectMapper" >
  <resultMap id="BaseResultMap" type="com.test.demo.model.Select" >
    <id column="select_id" property="selectId" jdbcType="INTEGER" />
    <result column="select_question" property="selectQuestion" jdbcType="VARCHAR" />
    <result column="select_a" property="selectA" jdbcType="VARCHAR" />
    <result column="select_b" property="selectB" jdbcType="VARCHAR" />
    <result column="select_c" property="selectC" jdbcType="VARCHAR" />
    <result column="selest_d" property="selestD" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <result column="select_createtime" property="selectCreatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insertSelect" parameterType="com.test.demo.model.Select" >
    insert into selects
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="selectQuestion != null" >
        select_question,
      </if>
      <if test="selectA != null" >
        select_a,
      </if>
      <if test="selectB != null" >
        select_b,
      </if>
      <if test="selectC!= null" >
        select_c,
      </if>
      <if test="selestD!= null" >
        selest_d,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="teacherId >0" >
        teacher_id
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="selectQuestion != null" >
        #{selectQuestion,jdbcType=VARCHAR},
      </if>
      <if test="selectA != null" >
        #{selectA,jdbcType=VARCHAR},
      </if>
      <if test="selectB != null" >
        #{selectB,jdbcType=VARCHAR},
      </if>
      <if test="selectC != null" >
        #{selectC,jdbcType=VARCHAR},
      </if>
      <if test="selestD != null" >
        #{selestD,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="teacherId>0" >
        #{teacherId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>