#nav{
    margin-top: 50px;
    width: 130px;
    height: 100%;
}
#content{
    width: 954px;
    margin-left: 0px;
    height: 100%;
}
#student-fenye{
    text-align: center;
}
#teacher-fenye{
    text-align: center;
}
#static{
    margin-left: 100px;
    margin-top: 50px;
}
td img{
    width:50px;
    border-radius: 50%;
}
.echarts{
    margin-top: 10px;
    margin-left: 10px;
}
#chart1{
    margin-left: 215px;
}

#adminInfo{
    width: 100%;
    height: 600px;
}
#count{
    width:100%;
    height: 100px;
    background-color: white;
}
#count-ul{
    list-style: none;

}
#count-ul li{
    float: left;
    margin-left: 120px;
}
#count-ul li p{
    margin-left: -25px;
}
#admin{
    width: 86px;
    height: 150px;
    margin-top: 50px;
}
#admin img{
    border-radius: 50%;
    width:55px;
    height: 55px;
    margin-top: 5px;
}
#admin p {
    font-size: 18px;
}
#admin a{
    text-decoration: none;
}
#courselist{
    margin-top: 10px;
    margin-bottom: 10px;
}