h3{margin-top: 30px}
.ys1{
    color: red;
    font-weight: bold;
}
h2{
    margin-top: 10px!important;
}
.top{
    height: 100px;
    text-align: center;
}
.left{
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin-left: 50px;
}
.center{
    width: 800px;
    border: 1px solid #666666;
    height: 100%;
}
.content > div{
    float: left;
}
#wi{
    width: 550px;
    float: left;
}
.selects{
    width: 200px;
    height:160px;
}
.selects p{
    width: 400px;
}
#time{
    font-size: 20px;
    position: fixed;
    right: 40px;
    top:10px;
}
.type{
    width: 100%;
    height: 36px;
}
h4{
    line-height: 2.1!important;
    margin-left: 15px;
}
.blanks{
    height: 100px;
    margin-bottom: 10px;
}
#submit{
    padding-top: 20px;
    margin-left: -195px;
    clear: both;
    text-align: center;
}