body {
    background-color: #fff !important;
    margin: 0 0;
}

/*导航栏设计*/
#user {
    float: right;
}

/*}到这*/
#pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

input {
    border: 1px solid #cccccc;
}

.span6 {
    margin-top: 50px;
    float: left;
}

#left {
    margin-left: 200px;
    width: 100px;
}

#right {
    margin-left: 150px;
    font-size: 16px;
}

#right dl {
    margin-top: 10px;
}

.list li {
    float: left;
}

#right-1 {
    margin-left: 50px;
    width: 750px;
}

#right-2 {
    margin-left: 50px;
    width: 600px;
}
#udpates button{
    margin-left: 15px;
}


#right-3{
    width: 200px;
    background-color: #00AA88;
    float: right;
}
#foryou{
    margin-left: 55px;
    font-size: 20px;
    font-family: 楷体;

}
.img{
    margin-top: 10px;
    text-align: center;
}
#center{
    width: 600px;
    margin-left: 50px;
}